:host{
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .youtube-div{
        align-items: center;
        display: flex;
        flex-flow: column;
        text-align: center;
    }
    .credit{
        font-size: 0.5em;
        text-align: right;
    }
}
