<div class="levelTitle">Level 3 Believable Reversal: Make the reversal more believable</div>

<div class="sentenceContainer">
    <div class="callerDiv">{{reversedcaller}}</div>
    <div class="policeDiv">Calls Police On</div>
    <div class="targetDiv">{{reversedtarget}}</div>
    <div class="typewriter" [ngClass]="{
        'selected': typewriterState==='selected', 
        'hidden': typewriterState==='hidden'}">
        {{typewriterSentence}}</div>

    <input #activityInput [ngClass]="{'hidden': typewriterState!=='hidden'}" class="activityDiv"
        placeholder="{{activity}}" autofocus (keydown)="keyDownFunction($event)" />
</div>


<div class="nextContainer">
    <button (click)="next()" class="nextButton" mat-raised-button>
        Next
    </button>
</div>