:host{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-flow: column;
    font-size: 2vh;
    height: 100%;
    justify-content: space-around;
    
    .levelTitle{
        font-size: 4vh;
    }
    ul{
        padding: 0px;
        margin: 0 auto;
    }
    .headline{
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    .headline.fake span{
        color: white !important;
    }
    .headline .correct{
        color: #68C93B;
    }
    .headline .wrong{
        color: red;
    }
    p {
        color: #50A0F3;
    }
    .realLink{
        color: #DD434E;
        text-decoration: none;
    }
    .fakeLink{
        color: white;
    }
    .material-icons.md-12 {
        font-size: 1em;
    }
    .nextButton{
        font-size: initial;
    }
}