<div class="levelTitle">You scored {{score}}/10</div>
<ul>
    <li *ngFor="let sentence of randomSentences" 
    title="{{sentence.headline}}" 
    [class.headline]="true" 
    [class.fake]="!sentence.real">
        <i *ngIf="sentence.correct" class="material-icons correct">check</i>
        <i *ngIf="!sentence.correct" class="material-icons wrong">close</i>
        
        <p>
            <span class="callerSpan">{{sentence.caller}} &nbsp;</span>
            <span class="policeSpan"> calls police on &nbsp;</span>
            <span class="targetSpan"> {{sentence.target}} &nbsp;</span>
            <span class="activitySpan"> {{sentence.activity}} </span>
        </p>
    </li>
</ul>
<div class="nextContainer">
    <button (click)="gotoLevel2()" class="nextButton" mat-raised-button>
        Continue to next step
    </button>
</div>