<div class="levelTitle">Level 2 Role Reversal: Let's switch up the roles</div>

<div class="sentenceContainer">
    <div [ngClass]="{
        'callerDiv': true,
        'before': reverseState,
        'after': !reverseState}">
        {{caller}}</div>
    <div class="policeDiv">Calls Police On</div>
    <div [ngClass]="{
        'targetDiv': true,
        'before': reverseState,
        'after': !reverseState}">
        {{target}}</div>
    <div class="activityDiv">{{activity}}</div>
</div>
<div *ngIf="reverseState" class="fake swipeDirection" (click)="reverse()">
    <i class="material-icons md-48">autorenew</i>
</div>
<div *ngIf="!reverseState" class="fake swipeDirection nextContainer" (click)="next()">
    <button (click)="gotoLevel2()" class="nextButton" mat-raised-button>
        <i class="material-icons md-48">navigate_next</i>
        Next
    </button>
</div>