:host{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-flow: column;

    .sentenceContainer{
        display: inline-flex;
        flex-flow: column;
        align-items: flex-start;
        margin: 0 auto;
        .callerDiv{
            color: #50A0F3;
        }
        .policeDiv{
            color: #68C93B;
        }
        .targetDiv{
            color: #DD434E;
        }
        .activityDiv{
            color: #ECD32C;
        }
    }
    .material-icons.md-48 {
        font-size: 1em;
    }
}