<div class="levelTitle">Level 2 Role Reversal: Let's switch up the roles</div>

<div class="sentenceContainer">
    <div #callerContainer [ngClass]="{'callerDiv': true}"
        [@flip]="{value: reverseState ? 'callerTop' : 'callerBottom', params: {offset: callerOffset}}">
        {{caller}}</div>

    <div class="policeDiv"
    [@flip]="{value: reverseState ? 'actionNormal' : 'actionShifted', params: {offset: actionOffset}}">
    Calls Police On</div>

    <div #targetContainer [ngClass]="{'targetDiv': true}"
        [@flip]="{value: reverseState ? 'targetBottom' : 'targetTop', params: {offset: targetOffset}}">
        {{target}}</div>
    <div class="activityDiv">{{activity}}</div>
</div>
<div *ngIf="reverseState" class="fake swipeDirection" (click)="reverse()">
    <i class="material-icons md-48">autorenew</i>
</div>
<div *ngIf="!reverseState" class="fake swipeDirection nextContainer" (click)="next()">
    <button class="nextButton" mat-raised-button>
        Next
        <i class="material-icons md-48">navigate_next</i>
    </button>
</div>