<div>Level 4: We need to change the action</div>
<div class="sentenceContainer">
    <div class="callerDiv">{{caller}}</div>

    <div class="typewriter" [ngClass]="{
        'selected': typewriterState==='selected', 
        'hidden': typewriterState==='hidden'}">
        {{typewriterSentence}}</div>

    <input #actionInput [ngClass]="{'hidden': typewriterState!=='hidden'}" class="actionDiv"
        placeholder="Called police on" autofocus (keydown)="keyDownFunction($event)" />

    <div class="targetDiv">{{target}}</div>
    
    <div class="activityDiv">{{activity}}</div>
</div>
<div class="nextContainer">
    <button (click)="next()" class="nextButton" mat-raised-button [disabled]="nextDisabled">
        Next
        <i class="material-icons md-48">navigate_next</i>
    </button>
</div>