:host{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;

    .material-icons.md-48 {
        font-size: 1em;
    }

    .sentenceContainer{
        display: inline-flex;
        flex-flow: column;
        align-items: flex-start;
        margin: 0 auto;
        .callerDiv{
            color: #50A0F3;
        }
        .policeDiv{
            color: #68C93B;
        }
        .targetDiv{
            color: #DD434E;
        }
        .activityDiv{
            color: #ECD32C;
        }
    }

    .realFake{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        user-select: none;
    }
    .swipeDirection{
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 50%;
        justify-content: center;
    }
}
