:host{
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    .gameName{
        color: #50A0F3;
    }
    .credit{
        color: #68C93B;
    }
    .developer{
        color: #DD434E;
    }
}